<home  ng-controller="HomeController">
    

    <div ng-clock source="sourceClock" class="ng-clock" ng-show="clock"></div>
    

    <div ng-alert-confirm source="sourceAlert" class="ng-alert cancel" ng-show="alerts.confirm"></div>
    <div ng-alert-code source="sourceAlert" class="ng-alert cancel" ng-show="alerts.code"></div>
    <div ng-alert-ocuped source="sourceAlert" class="ng-alert" ng-show="alerts.ocuped"></div>
    <div ng-alert-reserved source="sourceAlert" class="ng-alert" ng-show="alerts.reserved"></div>
    
</home>